.navbar {
    padding-inline: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

h1 {
    color: red;
}


.row {
    display: flex;
    gap: 4px;
}


.row>div {
    display: flex;
    flex-direction: column;
    gap: 4px;
}


footer {
    padding: 10px;
    background-color: teal;
    color: white;
}