.navbar {
    padding-inline: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

ul {
    display: flex;
    gap: 17px;
}

ul li {
    list-style: none;
}

h1 {
    color: red;
}


.row {
    display: flex;
    gap: 4px;
}


.row>div {
    display: flex;
    flex-direction: column;
    gap: 4px;
}